body {
    background-color: hotpink;
}

.page {
    background-color: white;
    width: 800px;
    height: 670px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

#big-words {
    margin-top: 20px;
    font-size: 50px;
    text-align: center;
}

#top {
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
}

#middle {
    margin-top: 50px;
    font-size: 35px;
    text-align: center;
    line-height: 80px;
}

#bottom {
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
}

#button {
    height: 50px;
    width: 50px;
    color: white;
    background-color: black;
    margin-top: 200px;
    margin-left: 48%;
    margin-right: auto;
    transform: scale(2);
}

#outerBar {
    width: 500px;
    height: 80px;
    margin-left: 150px;
    margin-right: auto;
    z-index: 3;
    position: absolute;
    background-color: gray;
}

#loadBar {
    width: 500px;
    height: 80px;
    background-color: crimson;
    opacity: 0.5;
    bottom: 58px;
    z-index: 5;
    position: relative;
}

#outerBar2 {
    width: 800px;
    height: 60px;
    font-size: 60px;
    
    margin-right: auto;
    z-index: 3;
    position: relative;
    background-color: gray;
}

#timerBar {
    width: 800px;
    height: 60px;
    background-color: crimson;
    opacity: 0.5;
    bottom: 70px;
    z-index: 5;
    position: relative;
}

.ans {
    transform: scale(2);
}

#sub {
    transform: scale(2);
}
